<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GolFeed" value="https://golhub.pkgs.visualstudio.com/_packaging/FeedGOL/nuget/v3/index.json" />
    <add key="EAF" value="https://golhub.pkgs.visualstudio.com/_packaging/EAF/nuget/v3/index.json" />
    <add key="MMS" value="https://pkgs.dev.azure.com/golhub/_packaging/MMS/nuget/v3/index.json" />
    <add key="Aggregate_Feeds" value="https://pkgs.dev.azure.com/golhub/_packaging/Aggregate_Feeds/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <GolFeed>
      <add key="Username" value="mzt.adnfilho@voegol.com.br" />
      <add key="ClearTextPassword" value="Voegol737*" />
    </GolFeed>
    <EAF>
      <add key="Username" value="mzt.adnfilho@voegol.com.br" />
      <add key="ClearTextPassword" value="Voegol737*" />
    </EAF>
    <MMS>
      <add key="Username" value="mzt.adnfilho@voegol.com.br" />
      <add key="ClearTextPassword" value="Voegol737*" />
    </MMS>
    <Aggregate_Feeds>
      <add key="Username" value="mzt.adnfilho@voegol.com.br" />
      <add key="ClearTextPassword" value="Voegol737*" />
    </Aggregate_Feeds>
  </packageSourceCredentials>
</configuration>